.video__icon {
  position: absolute;
  top: 9%;
  left: 5%;
  width: 41px;
  height: 41px;
  z-index: 3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 43 43'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M21.6678 1.6016c10.7293 0 19.46 8.8619 19.46 19.7526 0 10.8906-8.7307 19.7526-19.46 19.7526s-19.46-8.862-19.46-19.7526c0-10.8907 8.7307-19.7526 19.46-19.7526zm0-1.6016C10.0443 0 .6298 9.556.6298 21.3542c0 11.7981 9.4145 21.3541 21.038 21.3541 11.6234 0 21.0379-9.556 21.0379-21.3541C42.7057 9.556 33.2912 0 21.6678 0z'/%3E%3Cpath fill='%23fff' d='M18.8796 28.134l9.993-5.8724c.3156-.2136.526-.5339.526-.9076 0-.3737-.2104-.7474-.526-.9075l-9.993-5.8724a.9435.9435 0 00-1.0519 0c-.3156.2135-.5259.5338-.5259.9075v11.7448c0 .3737.2103.7474.5259.9076.3156.1602.6837.2135 1.0519 0z'/%3E%3C/svg%3E");
}
