@media screen and (max-width: 1024px) {
  .photo-grid {
    margin-bottom: 102px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin-bottom: 64px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 8px;
  }
}
